@use "/styles/variables";
@use "/styles/mixins" as mixins;

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 6px;
  width: 100%;
  @include mixins.breakpoint(variables.$sm) {
    width: 40%;
  }

  .title {
    color: #6aaeb2;
    border-bottom: 1pt solid #6aaeb2;
    width: 100%;
    font-size: 14pt;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .bookingsContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
